NEXT_PUBLIC_CHAIN_ID=8009
NEXT_PUBLIC_CHAIN_NAME=Zama Testnet
NEXT_PUBLIC_CHAIN_RPC_URL=https://rpc.zama.example
NEXT_PUBLIC_CHAIN_EXPLORER=https://explorer.zama.example
NEXT_PUBLIC_SHIELDBET_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=walletconnect_project_id
LIT_ACTION_CID=QmLitActionCid
LIT_NETWORK=datil
LIT_RECAP=winner-only-claim
